<h2><%= @article.title %> <%= link_to "Edit", edit_article_path(@article) %> <%= link_to "Delete", @article, method: :delete, remote: true %></h2>
<p><%= @article.content %></p>

<div>
<%= link_to "Articles", articles_path %>
</div>
